.body-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.body-body {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.body-main {
  gap: 50px;
  width: 707px;
  display: flex;
  padding: 50px 18px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.body-image8h8a-ho-bz1 {
  width: 266px;
  height: 73px;
}


.body-image5247567523081151992334087216999711163547648n1 {
  width: auto;
  height: 357px;
  align-self: stretch;
}

.body-manifest {
  gap: 40px;
  display: flex;
  padding: 0 30px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.body-title {
  gap: 10px;
  display: flex;
  padding: 10px 3px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 34, 42, 1);
}

.body-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: normal;
}

.body-frame3 {
  gap: 25px;
  display: flex;
  padding: 17px 0;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}

.body-text002 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text004 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text005 {
  font-weight: 400;
}

.body-text006 {
  font-weight: 700;
}

.body-text008 {
  font-weight: 700;
}

.body-text009 {
  color: rgba(44, 50, 45, 1);
  text-decoration: NONE;
}

.body-text011 {
  color: rgba(44, 50, 45, 1);
  text-decoration: NONE;
}

.body-text012 {
  color: rgba(152, 34, 42, 1);
  text-decoration: UNDERLINE;
}

.body-text013 {
  color: rgba(44, 50, 45, 1);
  text-decoration: NONE;
}

.body-text014 {
  color: rgba(152, 34, 42, 1);
  text-decoration: UNDERLINE;
}

.body-text015 {
  color: rgba(44, 50, 45, 1);
  text-decoration: NONE;
}

.body-text016 {
  color: rgba(152, 34, 42, 1);
  text-decoration: UNDERLINE;
}

.body-frame8 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.body-title1 {
  gap: 10px;
  display: flex;
  padding: 10px 3px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 34, 42, 1);
}

.body-text017 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: normal;
}

.body-library-ce {
  gap: 25px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.body-text019 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}

.body-list {
  gap: 30px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.body-item {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text021 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text023 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text025 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text027 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text029 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text031 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item1 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image1 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text033 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text035 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text037 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text039 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf1 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text041 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text043 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item2 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image2 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text045 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text047 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text049 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text051 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf2 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text053 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text055 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item3 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image3 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text057 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text059 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text061 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text063 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf3 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text065 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text067 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text069 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-library-cm {
  gap: 25px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.body-text071 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}

.body-list1 {
  gap: 30px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.body-item4 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image4 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text073 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text075 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text077 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text079 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf4 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text081 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text083 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item5 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image5 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text085 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text087 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text089 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text091 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf5 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text093 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text095 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item6 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image6 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text097 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text099 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text101 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text103 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf6 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text105 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text107 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-item7 {
  gap: 7px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.body-image7 {
  width: auto;
  height: 142px;
  align-self: stretch;
}

.body-text109 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text111 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text113 {
  color: rgba(44, 50, 45, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text115 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-tlchargerpdf7 {
  gap: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(230, 179, 51, 1);
}

.body-text117 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Chelsea Market;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text119 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-text121 {
  color: rgba(152, 34, 42, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}

.body-frame12 {
  gap: 25px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.body-text123 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}

.body-frame11 {
  gap: 10px;
  display: flex;
  padding: 0 27px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.body-text125 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: normal;
}

.body-frame9 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.body-title2 {
  gap: 10px;
  display: flex;
  padding: 10px 3px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 34, 42, 1);
}

.body-text127 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: normal;
}

.body-frame13 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.body-screenshot20240409at14512 {
  width: 611px;
  height: 764px;
}

.body-screenshot20240409at14511 {
  width: 631px;
  height: 296px;
}

.body-text129 {
  color: rgba(152, 34, 42, 1);
  width: 746px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.body-text130 {
  text-decoration: UNDERLINE;
}

.body-text131 {
  text-decoration: NONE;
}

/* CSS ajouté */
.body-main {
  max-width: 1024px;
  width: 100%;
}

.body-image5247567523081151992334087216999711163547648n1 {
  object-fit: cover;
}

.creative-commons img {
  display: inline;
}

.body-text002,
.body-text004 {
  flex-grow: none;
  width: 400px;
}